﻿@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<main>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <h1> About The Project </h1>
    <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"></h2>
                <p class="lead">
                    Food 4 You is a resource for people in need to aquire food assistance and people who want to help to get involved. We have weekly deliveries schedules and provide food to people in need.
                    Some of the ways to get involved are to sign up as a delivery driver or bring donations to local distribution centers.
                </p>
            </div>
        </div>
    
        <!-- /END THE FEATURETTES --><!-- Three columns of text below the carousel -->
        <div class="row">
            <h1>    </h1>
            <h1> Meet The Team </h1>

            <div class="col-xl-10">
                <img src="~/images/Matt.jpg" />
                <h2>Matthew Emelio</h2>
                <p>matthew.emelio@stvincent.edu<br />412-574-7584<br />Undergrad at Saint Vincent College</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-xl-10">
                <img src="~/images/Justin.jpg" />
                <h2>Justin Fallat</h2>
                <p>justin.fallat@stvincent.edu<br />724-384-7584<br />Undergrad at Saint Vincent College</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-xl-10">
                <img src="~/images/David.jpg" height="170" width="170" />

                <h2>David McDade</h2>
                <p>david.mcdade@stvincent.edu<br />412-574-4758<br />Undergrad at Saint Vincent College</p>

            </div><!-- /.col-lg-4 -->
            <div class="col-xl-10">
                <img src="~/images/Phil.png" />

                <h2>Philip Pavlick</h2>
                <p>phillip.pavlick@stvincent.edu<br />724-583-4930<br />Undergrad at Saint Vincent College</p>

            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


    </div><!-- /.container -->
</main>
