﻿@page
@model Food2YouLogingPage.Pages.DonationPageModel
@{<form>
    <h1>
        How to Donate to a great cause.
    </h1>
    <br />
    <h2>
        Address: 1420 Ridge Ave, Latrobe, PA1420 Ridge Ave, Latrobe, PA
    </h2>
    <br />
    <br />
    <h2>
        Food Donations Greatly appreciated
        <br />
        How to donate:
    </h2>
    <br />
    <p>
        Method 1: Fill out Volunteer Application
        <br />
        or
        <br />
        Method 2:
        <br />
        1: Bring food to organization head quarters
        <br />
        2: Check food in at front desk
        <br />
        -Food may be subject to testing
    </p>
    <br />
    <br />
    <h2>

        Cash/Check Donations appreciated as well
        <br />
        How to donate cash or check:
    </h2>
    <br />
    <p>
        1: Place check or cash in sealed envelope
        <br />
        2: Place envelope in mailbox (located to the right of the main entrance)
    </p>
</form>
}
