﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Food2You</h1>

</div>


<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            /*Set the merge border model for the table*/
            border-collapse: collapse;
            /*Set border width / style / color (all three are optional)*/
            border: 2px solid rgb(0,0,0);
            /*Letter spacing*/
            letter-spacing: 2px;
            /*Rem is a new property of CSS3, which sets the relative size and is suitable for the latest version of browser*/
            font-size: 0.8rem;
            
        }

        td, th {
            border: 1px solid rgb(0,0,0);
            /*10 up and down, 20 around*/
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <div class="py-3">
        <center>
            <table>
                <colgroup>

                    <col style="background-color: #009aff;">
                    <col style="background-color: #f7dd88;">
                </colgroup>
                <tr>

                    <th><div class="text-center"><h2><b>Need Some Help?</b></h2></div></th>
                    <th>
                        <h2><b></b></h2>
                        <button onclick="window.location.href='/inNeeds/Create'">
                            Click Here For Help!
                        </button>
                    </th>

                </tr>
                <tr>
                    <td>
                        <div class="text-center"></div><h2><b>Volunteer Now</b></h2>

                        <button onclick="window.location.href='/VolunteerApplication'">
                            Volunteer Now!
                        </button>
                    </td>
                    <th> <div class="text-center"><h2><b>Can You Help?</b></h2></div> </th>

                </tr>


            </table>
        </center>
    </div>

</body>


@*<div class="row">

    <div class="column" style="background-color: #009aff; ">
        <h2><b>Need Some Help?</b></h2>
        <button onclick="window.location.href='/InNeed'">
            Click Here For Help!
        </button>
    </div>

    <div class="column" style="background-color: #f7dd88; ">
        <img src="~/images/Food2.jpg" alt="Place Holder Image" />
    </div>

    <div class="column" style="background-color: #f7dd88; ">
        <img src="~/images/volunteers.jpg" alt="Place Holder Image" />
    </div>

    <div class="column" style="background-color: #009aff; ">
        <h2><b>Volunteer Now</b></h2>

        <button onclick="window.location.href='/VolunteerApplication'">
            Volunteer Now!
        </button>

    </div>

</div>*@
