﻿@page
@model Food2YouLogingPage.Pages.InNeedModel
@{
    ViewData["Title"] = "Food Assistance Application";
}
<form>
    <h1>Application for Food Assistance</h1>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>

    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>

    <label for="number">Phone Number:</label><br>
    <input type="text" id="number" name="number"><br>

    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address"><br>

    <br />
    <p>How many people are you requesting food for?</p>
    <input type="radio" id="option1" name="option1" value="option1">
    <label for="option1">1</label><br>
    <input type="radio" id="option2" name="option2" value="option2">
    <label for="option2">2</label><br>
    <input type="radio" id="option3" name="option3" value="option3">
    <label for="option3">3</label><br>
    <input type="radio" id="option4" name="option4" value="option4">
    <label for="option4">4+</label><br>
    <br />
    <p>List allergies(If applicaple):</p>
    <textarea name="allergies" rows="10" cols="10"></textarea>
    <br />
    <input type="submit" />
</form>