﻿@page
@model Food2YouLogingPage.Pages.SchedulingModel
@{
    ViewData["Title"] = "Scheduling";
}
<h1>Days For Your Delivery</h1>

<html lang="en">
<head>
    

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            table {
                /*Set the merge border model for the table*/
                border-collapse: collapse;
                /*Set border width / style / color (all three are optional)*/
                border: 2px solid rgb(0,0,0);
                /*Letter spacing*/
                letter-spacing: 2px;
                /*Rem is a new property of CSS3, which sets the relative size and is suitable for the latest version of browser*/
                font-size: 0.8rem;
            }

            td, th {
                border: 1px solid rgb(0,0,0);
                /*10 up and down, 20 around*/
                padding: 10px 20px;
            }
        </style>
</head>
<body>
    <div class="py-3">
        <table>
            <colgroup>
                <col span="2">
                <col style="background-color: #97DB9A;">
                <col>
                <col style="background-color: #97DB9A;">
                <col style="background-color: #97DB9A;">
                <col>
                <col>
            </colgroup>
            <tr>
                <th>&nbsp;</th>
                <th><div class="text-center">Mon</div></th>
                <th><div class="text-center">Tues</div></th>
                <th><div class="text-center">Wed</div></th>
                <th><div class="text-center">Thurs</div></th>
                <th><div class="text-center">Fri</div></th>
                <th><div class="text-center">Sat</div></th>
                <th><div class="text-center">Sun</div></th>
            </tr>
            <tr>
                <th> <div class="text-center">Delivery</div> </th>
                <td> </td>
                <td> <div class="text-center">&#10004;</use></div> </td>
                <td> </td>
                <td> <div class="text-center">&#10004;</div> </td>
                <td> <div class="text-center">&#10004;</div> </td>
                <td> </td>
                <td> </td>
            </tr>


        </table>
    </div>


    <button type="button" class="w-25 btn btn-sm btn-primary" onclick="window.location.href='/ChangeDays'">Change Delivery Days</button>

</body>
</html>

