﻿@page
@model Food2YouLogingPage.Pages.validationPageModel
@{
    ViewData["Title"] = "Validation Page";
}

<h1> Thank You!</h1>
<h2> Your Application Has Been Submitted.</h2>
<h3> </h3>

<button type="button" class="w-25 btn btn-sm btn-primary" onclick="window.location.href='/Index'">Back To Home</button>
