﻿@page
@model Food2YouLogingPage.Pages.VolunteerApplicationModel
@{
    ViewData["Title"] = "Volunteer Application";
}
<form>
    <h1>Volunteer Application</h1>
    <p>How can you help?</p>
    <input type="radio" id="donor" name="donor" value="donor">
    <label for="donor">Donor</label><br>

    <input type="radio" id="driver" name="driver" value="driver">
    <label for="driver">Driver</label><br>

    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>

    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>

    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>

    <label for="number">Phone Number:</label><br>
    <input type="text" id="number" name="number"><br>
    <br />
    <h2>The Following is for Drivers only:</h2>

    <label for="DLNum">Drivers License Number:</label><br>
    <input type="text" id="DLNum" name="DLNum"><br>

    <label for="Make">Car Make:</label><br>
    <input type="text" id="Make" name="Make"><br />

    <label for="Model">Car Model:</label><br>
    <input type="text" id="Model" name="Model"><br>

    <label for="Plate">Plate Number:</label><br>
    <input type="text" id="Plate" name="Plate"><br />
    <br />
    <h2>The following is for Donors only:</h2>
    <br />
    <p>What kind of food can you donate?</p>
    <textarea name="food" rows="10" cols="20">

    </textarea>
    <input type="submit" />

</form>