﻿@page
@model Food2YouLogingPage.Pages.Admins.CreateModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Volunteer Driver Application";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (!SignInManager.IsSignedIn(User))
{
    <h1>You Must Be Logged In To Access This Application</h1>
    <a class="btn btn-primary p-1 text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="btn btn-primary p-1 text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>

}

else
{
    <h1>Volunteer Driver Application</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <h2>Personal Info</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Admin.fNmae" class="control-label">First Name:</label>
                    <input asp-for="Admin.fNmae" class="form-control" />
                    <span asp-validation-for="Admin.fNmae" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Admin.lName" class="control-label">Last Name:</label>
                    <input asp-for="Admin.lName" class="form-control" />
                    <span asp-validation-for="Admin.lName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Admin.email" class="control-label">Email:</label>
                    <input asp-for="Admin.email" class="form-control" />
                    <span asp-validation-for="Admin.email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Admin.address" class="control-label">Address:</label>
                    <input asp-for="Admin.address" class="form-control" />
                    <span asp-validation-for="Admin.address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Admin.phone" class="control-label">Phone Number:</label>
                    <input asp-for="Admin.phone" class="form-control" />
                    <span asp-validation-for="Admin.phone" class="text-danger"></span>
                </div>
                <h2>Driver Info</h2>
                <div class="form-group">
                    <label asp-for="Admin.licenseNum" class="control-label">License Number:</label>
                    <input asp-for="Admin.licenseNum" class="form-control" />
                    <span asp-validation-for="Admin.licenseNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Admin.carMake" class="control-label">Car Make:</label>
                    <input asp-for="Admin.carMake" class="form-control" />
                    <span asp-validation-for="Admin.carMake" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Admin.carModel" class="control-label">Car Model:</label>
                    <input asp-for="Admin.carModel" class="form-control" />
                    <span asp-validation-for="Admin.carModel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Admin.carPlate" class="control-label">License Plate Number:</label>
                    <input asp-for="Admin.carPlate" class="form-control" />
                    <span asp-validation-for="Admin.carPlate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
