﻿@page
@model Food2YouLogingPage.Pages.Admins.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.fNmae)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.fNmae)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.lName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.lName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.licenseNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.licenseNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.carMake)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.carMake)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.carModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.carModel)
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.carPlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.carPlate)

    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Admin.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
