﻿@page
@model Food2YouLogingPage.Pages.Admins.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.fNmae)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.fNmae)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.lName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.lName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.licenseNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.licenseNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.carMake)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.carMake)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.carModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.carModel)
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin.carPlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin.carPlate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Admin.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
