﻿@page
@model Food2YouLogingPage.Pages.inNeeds.CreateModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "In Need Application";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (!SignInManager.IsSignedIn(User))
{
    <h1>You Must Be Logged In To Access This Application</h1>
    <a class="btn btn-primary p-1 text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="btn btn-primary p-1 text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>

<<<<<<< HEAD
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="inNeed.fNmae" class="control-label">First Name:</label>
                <input asp-for="inNeed.fNmae" class="form-control" />
                <span asp-validation-for="inNeed.fNmae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.lName" class="control-label">Last Name:</label>
                <input asp-for="inNeed.lName" class="form-control" />
                <span asp-validation-for="inNeed.lName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.email" class="control-label">Email:</label>
                <input asp-for="inNeed.email" class="form-control" />
                <span asp-validation-for="inNeed.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.phone" class="control-label">Phone Number:</label>
                <input asp-for="inNeed.phone" class="form-control" />
                <span asp-validation-for="inNeed.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.address" class="control-label">Address:</label>
                <input asp-for="inNeed.address" class="form-control" />
                <span asp-validation-for="inNeed.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.numberOfPeople" class="control-label">Number of Household Members:</label>
                <input asp-for="inNeed.numberOfPeople" class="form-control" />
                <span asp-validation-for="inNeed.numberOfPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.allergies" class="control-label">Notes (Such as Allergies or Delivery Instructions):</label>
                <input asp-for="inNeed.allergies" class="form-control" />
                <span asp-validation-for="inNeed.allergies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.DayOfTheWeek" class="control-label">List the days of the week you are available for delivery:</label>
                <input asp-for="inNeed.DayOfTheWeek" class="form-control" />
                <span asp-validation-for="inNeed.DayOfTheWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
=======
}
>>>>>>> bb35e54036fd1552bf061eee57fcca8e899cabb6

else
{
    <h1>Food Assistance Application</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="inNeed.fNmae" class="control-label">First Name:</label>
                    <input asp-for="inNeed.fNmae" class="form-control" />
                    <span asp-validation-for="inNeed.fNmae" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="inNeed.lName" class="control-label">Last Name:</label>
                    <input asp-for="inNeed.lName" class="form-control" />
                    <span asp-validation-for="inNeed.lName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="inNeed.email" class="control-label">Email:</label>
                    <input asp-for="inNeed.email" class="form-control" />
                    <span asp-validation-for="inNeed.email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="inNeed.phone" class="control-label">Phone Number:</label>
                    <input asp-for="inNeed.phone" class="form-control" />
                    <span asp-validation-for="inNeed.phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="inNeed.address" class="control-label">Address:</label>
                    <input asp-for="inNeed.address" class="form-control" />
                    <span asp-validation-for="inNeed.address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="inNeed.numberOfPeople" class="control-label">Number of Household Members:</label>
                    <input asp-for="inNeed.numberOfPeople" class="form-control" />
                    <span asp-validation-for="inNeed.numberOfPeople" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="inNeed.allergies" class="control-label">Notes (Such as Allergies or Delivery Instructions):</label>
                    <input asp-for="inNeed.allergies" class="form-control" />
                    <span asp-validation-for="inNeed.allergies" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
}


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
