﻿@page
@model Food2YouLogingPage.Pages.inNeeds.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>inNeed</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inNeed.fNmae)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inNeed.fNmae)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inNeed.lName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inNeed.lName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inNeed.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inNeed.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inNeed.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inNeed.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inNeed.numberOfPeople)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inNeed.numberOfPeople)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inNeed.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inNeed.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inNeed.allergies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inNeed.allergies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.inNeed.DayOfTheWeek)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.inNeed.DayOfTheWeek)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.inNeed.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
