﻿@page
@model Food2YouLogingPage.Pages.inNeeds.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit Food Assistance Application</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="inNeed.ID" />
            <div class="form-group">
                <label asp-for="inNeed.fNmae" class="control-label">First Name:</label>
                <input asp-for="inNeed.fNmae" class="form-control" />
                <span asp-validation-for="inNeed.fNmae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.lName" class="control-label">Last Name:</label>
                <input asp-for="inNeed.lName" class="form-control" />
                <span asp-validation-for="inNeed.lName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.email" class="control-label">Email:</label>
                <input asp-for="inNeed.email" class="form-control" />
                <span asp-validation-for="inNeed.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.address" class="control-label">Address:</label>
                <input asp-for="inNeed.address" class="form-control" />
                <span asp-validation-for="inNeed.address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.numberOfPeople" class="control-label">Number of People:</label>
                <input asp-for="inNeed.numberOfPeople" class="form-control" />
                <span asp-validation-for="inNeed.numberOfPeople" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.phone" class="control-label">Phone Number:</label>
                <input asp-for="inNeed.phone" class="form-control" />
                <span asp-validation-for="inNeed.phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.allergies" class="control-label">Other Info(Allergies, ect.)</label>
                <input asp-for="inNeed.allergies" class="form-control" />
                <span asp-validation-for="inNeed.allergies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="inNeed.DayOfTheWeek" class="control-label"></label>
                <input asp-for="inNeed.DayOfTheWeek" class="form-control" />
                <span asp-validation-for="inNeed.DayOfTheWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
