﻿@page
@model Food2YouLogingPage.Pages.inNeeds.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.inNeed[0].fNmae)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inNeed[0].lName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inNeed[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inNeed[0].address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inNeed[0].numberOfPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inNeed[0].phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inNeed[0].allergies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inNeed[0].DayOfTheWeek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.inNeed) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fNmae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.allergies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfTheWeek)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
